body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

header {
  background: #404041;
  width: 100%;
  height: 100px;
  display: table;
}

.wrapper {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

main {
  width: 58%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #E6E7E8;
  font-size: 5.3vw;
  font-weight: 300;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 0
}

#number {
  color: #ED458B;
  font-weight: 700;
}

.instructions {
  font-size: 26px;
  font-weight: 300;
  color: #929497;
  text-align: center;
  width: 100%;
  height: auto;
  letter-spacing: 1px;
}

#instruction-button {
  display: block;
  width: 100%;
  color: #FFFFFF;
  border-style: none;
  border-radius: 40px;
  height: 60px;
  font-size: 26px;
  font-weight: 300;
  background: #D0D2D3;
  letter-spacing: 1px;
}

.define-range {
  width: 100%;
  margin-top: 40px;
}

.range-buttons {
  float: left;
  font-weight: 300;
  font-size: 26px;
  width: 46%;
  height: 60px;
  letter-spacing: 1px;
}

#min-range {
  margin-right: 5%;
}

.main-game {
  width: 100%;
}

#user-guess {
  height: 60px;
  width: 98%;
  margin-top: 4px;
  font-size: 26px;
  font-weight: 300;
}

.submit-buttons {
  background: #D0D2D3;
  color: #FFFFFF;
  width: 48%;
  float: left;
  border-style: none;
  border-radius: 40px;
  height: 60px;
  font-size: 26px;
  font-weight: 300;
  margin-top: 20px;
}

#guess-button {
  margin-right: 3%;
}

.game-results {
  height: auto;
  width: 100%;
  padding-top: 60px;
  font-size: 30px;
  text-align: center;
  font-weight: 300;
  color: #929497;
}

#user-guess-value {
  font-size: 120px;
  color: #ED458B;
  line-height: 0;
}

#reset-button
{
  margin-top: 10px;
  width: 100%
}

#guess-button:hover,
#clear-button:hover,
#reset-button:hover,
#instruction-button:hover {
  background: #EB008B;
}

/*#guessButton:disabled, #clearButton:disabled, #resetButton:disabled {
  background: #D0D2D3;
}*/

/*#guessButton, #clearButton, #resetButton :enabled {
  background: #929497;
}*/

.enable-class {
  background: #929497;
}

input:focus, button:focus {
  outline: dotted 0.5px #EB008B;
}

input {
  border: solid 1px #D0D2D3;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 8vw;
  }
}
@media screen and (max-width: 800px) {
  .wrapper {
    width: 90%;
  }

  .submit-buttons,
  .range-buttons {
      display: block;
      float: none;
      width: 100%
  }
}
